<div class="pane">
  <h3>Collection</h3>
  <p>Rubbish on this street is collected in <%= format_presentation_method street.presentation_method -%> by <%= street.providers.pluck(:name).to_sentence -%>.</p>
</div>