<table>
  <tbody>
    <%- @streets.each do |street| %>
      <tr>
        <td><%= link_to street.name, street -%></td>
        <td><%= street.postcode -%></td>
        <td><%= street.bag_street? ? 'yes' : 'no'  -%></td>
      </tr>
    <%- end %>
  </tbody>
</table>