<div id="search-form" data-query="<%= @query -%>"></div>
<div class="features">
  <div class="feature">
    <div class="content">
      <h3>House or Apartment?</h3>
      <p>If you live in a house (or an apartment without shared bin storage) your rubbish is collected by a private waste collector on a particular day each week. Separate your rubbish into general waste, recyclables and compost before putting it outside your home on the public footpath for collection.</p>
    </div>
  </div>
  <div class="feature">
    <div class="content">
      <h3>Specialist Recycling?</h3>
      <p>Glass, clothes, and other specialist types of waste such as paint & metal are accepted at centralised collection points. They are not put out with domestic waste. Use this tool to find your nearest specialist recycling collection point.</p>
    </div>
  </div>
  <div class="feature">
    <div class="content">
      <h3>Apartment Complex with shared bins?</h3>
      <p>If you live in an apartment complex you will usually be provided with shared bin storage. Talk to your landlord or management company rather than use this tool.</p>
    </div>
  </div>
</div>