html {
  font-size: 10px;
}

body {
  background: var(--faint);
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
}

a, a:link, a:visited {
  color: var(--blue);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}