html {
  font-size: 10px;
}

body {
  background: var(--faint);
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.modal-frame {
  display: flex;
  position: absolute;
  left: var(--unit);
  right: var(--unit);
  top: var(--unit);
  justify-content: center;
  align-items: flex-start;
}

.modal {
  width: 100%;
  max-width: 48rem;
}

.search-form {
  background-color: var(--white);
  border-radius: 0.325em;
  padding: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.075);
}

.search-form input {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  border: 0;
}

.search-form label {
  display: none;
}

.search-form input[type="text"] {
  width: 100%;
  background-color: transparent;
  background-image: url(asset-path('search.svg'));
  background-position: 1.25rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  border: 0;
  width: 100%;
  padding: 1rem 1rem 1rem 3.5rem;
}

.search-result {
  background-color: var(--white);
  border-radius: 0.325em;
  padding: 1rem;
  margin-bottom: 1rem;
  display: block;
  text-decoration: none;
  opacity: 0.675;
  transition: 0.25s ease opacity;

  h3, p {
    margin: 0;
  }

  h3 {
    color: var(--black);
  }

  p {
    color: var(--grey);
  }

  &.selected {
    background: var(--yellow);
  }

  &:hover {
    opacity: 1;
  }
}

.street-show {
  background-color: var(--white);
  border-radius: 0.325em;
  margin-bottom: 1rem;
  display: block;
  overflow: hidden;

  header {
    padding: 1rem;
    background-color: var(--black);

    h1, p {
      margin: 0;
    }
  
    h1 {
      color: var(--white);
      font-size: 2.1rem;
    }
  
    p {
      color: var(--white);
    }
  }

  .pane {
    padding: 1rem;
    border-bottom: 1px solid var(--faint);

    &:last-child {
      border-bottom: 0;
    }
  }
}