.features {
  margin-top: 10rem;

  .feature {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 3rem;

    .icon {
      img {
        height: 90px;
      }
    }

    .content {
      padding-left: 1.5rem;
    }
  }
}
