.search-results {
}

.search-result, a.search-result {
  background-color: var(--white);
  border-radius: 0.325em;
  padding: 1rem;
  margin-bottom: 1rem;
  display: block;
  text-decoration: none;
  opacity: 0.675;
  transition: 0.175s ease opacity;

  h3, p {
    margin: 0;
  }

  h3 {
    color: var(--black);
  }

  p {
    color: var(--grey);
  }

  &.selected {
    background: var(--yellow);
    opacity: 0.925;
  }

  &:hover {
    opacity: 1;
    text-decoration: none;
    h3, p {
      text-decoration: none;
    }
  }
}