.street-show {
  background-color: var(--white);
  border-radius: 0.325em;
  margin-bottom: 1rem;
  display: block;
  overflow: hidden;

  header {
    padding: 1rem;
    background-color: var(--black);

    h1, p {
      margin: 0;
    }
  
    h1 {
      color: var(--white);
      font-size: 2.1rem;
      display: flex;
      flex-direction: column-reverse;
      span:last-child {
        font-weight: 400;
        font-style: italic;
        font-size: 1.5rem;
      }
    }
  
    p {
      color: var(--white);
    }
  }

  .pane {
    padding: 1rem;

    & > h3 {
      border-bottom: 1px solid var(--black)
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.list.-overrides {
  padding: 0 1rem;

  li {
    &:before {
      content: '—'
    }
  }
}